.nav-custom {
    background-color: #741E1E;
}

.nav-placeholder {
    height:56px;
}

.hero {
    /* offset against navbar */
    object-fit: cover;
    object-position: top;
    height: 450px;
    background: pink;
}


.projects-news{
    /* height: 300px; */
    background: gray;
}



.about-section-logo{
    height:200px;
    background: lightgray;
}

.header-content {
    margin-top: 1rem;
}

.about-section-item{
    margin-top:3rem;
}

.about-section-item > p {
    margin-top: 1rem;
}

#stickybar {
    transition: all ease-in 0.5s;
}