@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
  --brand-color: #741E1E;
}

html{
    font-family: 'Roboto', sans-serif;
}

.nav-custom {
    font-family: 'Roboto', sans-serif;

}

.qualities-section-info:first-of-type { 
  background:#f7f7f7;
}

.qualities-section-info > div{
}

.qualities-section-info img {
  object-fit:cover;
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}

.qualities-section-info-text h1{
  color: var(--brand-color);
}

.qualities-section-info-text p {
  white-space: pre-wrap;
}


.nav-custom-2 {
    background-color: #fff;
}

.nav-placeholder {
    width: 100%;
    height:56px;
}

.hero {
    /* offset against navbar */
    height: 450px;
}

.hero h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;

}


.projects-news{
    /* height: 300px; */
    background: gray;
}



.about-section-logo{
}


.location {
  border-bottom: 4px solid #741E1E;
}

.header-content {
    background-color: whitesmoke;
    color: black;
}

.header-content-red {
    background-color: #741E1E;
    c
}

.header-content-title {
    margin-top: 1rem;
}

.about-section-item{
    margin-top:3rem;
}

.about-section-item > p {
    margin-top: 1rem;
}

#stickybar {
    transition: all ease-in 0.5s;
}

.offer-img {
    /* offset against navbar */
    object-fit: cover;
    object-position: top;
    height: 250px;
}

.about-card {
    background-color: #741E1E;
    color: WHITE;
    max-width: 350px;
}

.news-card{
  width: 400px;
}

.news-card-image-container {
  position: relative;
}

.news-card-image-container img{
  width: 100%;
  border-radius: 5px;
}

.news-card-image-date {
  font-size: 12px;
  padding: 6px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: #741E1E;
  color: white;
}

.news-card-image-date svg{
  fill: #fff;
  width: 20px;
  height: 20px;
}

.news-card-info {

}

.news-card-info a svg{
  width: 18px;
  height: 18px;
}

.bi-telephone-fill {
  color: #646464;
}

.bi-envelope-fill {
  color: #646464;
}

.bi-geo-alt-fill {
  color: #646464;
}
